.news
{
    margin: 10px 10% 20px 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    height: 320px;
}
.newz
{
    background-color: white;
}
.newsArticle
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom:1px solid #EBEBEB;
}
.vert
{
    color: #09A2A5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.read
{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#333333;
}
.newsDetails
{
    padding: 20px;
}
.newsDetails :nth-child(1)
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    /* margin-top: -10px; */
}
.newsDetails :nth-child(2)
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-bottom:1px solid #EBEBEB;
}