.productImage img:hover
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.05);
    border-radius: 10px;
}
.productImage img
{
    border-radius: 10px;
    transition: transform 0.6s ease-in-out;
    /* object-fit: cover; */
}
.productImage {
    text-align: center;
    gap: 10px;
  }
  
  .productImage > div {
    margin-bottom: 20px;
  }
  .productsDivGrid
  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    margin: auto;
    gap: 15px;
  }
  .productsImageDetailName
  {
    font-weight: 700;
    /* color: #666666; */
  }
  @media (max-width:499px) {
    .productImage {
      flex-direction: column;
      align-items: center;
    }
  
    .productImage > div {
      margin-bottom: 10px;
    }
    .productsDivGrid
  {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    margin: auto;
    gap: 20px;
  }
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .productImage {
      flex-direction: column;
      align-items: center;
    }
  
    .productImage > div {
      margin-bottom: 10px;
    }
    .productsDivGrid
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 95%;
    margin: auto;
    gap: 20px;
  }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .productImage {
      flex-direction: row;
      justify-content: center;
    }
  
    .productImage > div {
      margin-right: 20px;
    }
  
    .productImage > div:last-child {
      margin-right: 0;
    }
    .productsDivGrid
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
    margin: auto;
    gap: 20px;
  }
  }
  