#footer
{
    display:flex ;
    justify-content: space-around;
    background-color: hsl(209, 22%, 33%);
    
}
#footer :hover
{
    
}
#footer  p
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #d0cdcd;
}
#footer  p:hover
{
    cursor: pointer;
    color: #FBB917;
}
#socialsite
{
    background-color: #425567;
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
	margin-top: 60px;
	margin-right: 150px;
}
#socialsite img
{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
#copyright
{
    background-color: #425567;
    text-align: center;
    color:#d0cdcd ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
}
#copyright:hover
{
    cursor: pointer;
    color: #FBB917;
}
#footerHeader
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    margin-top: 10px;
}
.footerHeader:hover
{
    cursor: pointer;
    color: #FBB917;

}