#footer
{
    display:flex ;
    justify-content: space-around;
    background-color: #26174F;
    /* background-color: hsl(209, 22%, 33%); */
    width: 100%;
    text-align: justify;
    margin-top: 1px;
    /* padding: 20px; */
}

#footer  p
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #d0cdcd;
}

#socialsite
{
    background-color: #425567;
    display: flex;
    justify-content: center;
    padding-right: 15%;
	margin-top: 110px;
	margin-right: 170px;
}
#socialsite img
{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
#copyright
{
    /* background-color: #425567; */
    background-color: #26174F;

    text-align: center;
    color:#d0cdcd ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 1px;
    /* left: 10%; */
    /* transform: translateX(-50%); */
}
#footerHeader
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
}
.infinixFooter:hover
{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footerHeader
{
    margin-bottom: 20px;
    margin-top: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  #footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  #footer p {
    text-align: left;
  }

  #socialsite {
    margin-top: 20px;
    margin-right: 0;
  }
  .footerHeader
  {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
  }
}

/* Media queries for larger screens */
@media only screen and (min-width: 1024px) {
  #footer {
    justify-content: space-between;
    padding: 0px 40px;
  }

  #footer p {
    text-align: left;
    
  }

  #socialsite {
    margin-top: 100px;
    margin-right: 50px;
    /* left: 50%; */
    transform: translateX(-35%);
  }
}