:root {
    --primary: #1888ff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    /* color: #fff; */
    color: white;
    cursor: pointer;
    /* background-color: var(--primary); */
    background-color: #FBB917;
  }
  
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    /* border: 2px solid var(--primary); */
    border: 2px solid #FBB917;
    transition: all 0.3s ease-out;
  }