
.navbar {
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(39, 14, 14) 100%); */
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 100000;
    font-weight: 600;
  }
  .navbar-logo
  {
    background-color: transparent;
    
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #FBB917;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: white;
  }
  @media (max-width: 890px) {
    .nav-menu {
      display: none;
    }
    .navbar
    {
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
    }
  }
  /* @media (max-width: 400px) {
    .nav-menu {
      display: none;
    }
    .navbar
    {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  } */