.menuIcon
{
    color: white;
    font-size: 30px;
}
.menuIcons
{
    display: none;
}

@media (max-width: 890px) {
  .menuIcons {
    display: block;
  }
  .menuIcon {
    display: visible;
  }
  .drawerHeader
  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  .drawer
  {
    color: #FBB917;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }
}